
@mixin main-nav {
  background-image: url(https://delayfiction.org/assets/2018-08.png);
  background-size: 100%;
  background-color: lavender;
  height: 150px;
  position: relative;

  h1 {
    @include display-1;

    position: fixed;
    padding: 0 12px;
    margin: 0;
    height: 30px;
    width: 100%;
    z-index: 100;

    span {
      position: relative;
      top: 14px;

      &.delay {
        width: 80px;
      }
    }

    small {
      @include roboto;
      font-size: 12px;
      font-weight: 500;
      position: relative;
      top: 6px;
      flex-grow: 1;
    }
  }

  nav {
    width: 15px;
    height: 15px;
    background-color: whitesmoke;
    display: block;
  }

  h2 {
    @include display-2;

    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 12px;
    height: 30px;
    justify-content: flex-end;
  }


  &.scrolled {
    position: fixed;
    width: 100%;
    top: -110px;

    h2 {
      display: none;
    }

    h1 {
      position: absolute;
      top: 110px;
      height: 40px;

      > span {
        top: 0;
      }
    }


    h1 > small {
      top: -8px;
    }

    //gross
    & ~ main {
      margin-top: 150px;
    }
  }
}


