@mixin timetable($width: 1px, $height: 1px, $font-size: 1px) {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(0,0,0,0.4);

  span {
    margin-right: 3px;
    display: inline-block;
    width: $width;
    height: $height;
    line-height: $height;
    font-size: $font-size;

    background-color: black;

    @include roboto-mono;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
}

@mixin main-nav {
  background-image: url(https://delayfiction.org/assets/2018-08.png);
  background-size: 100%;
  background-color: lavender;
  height: 150px;
  position: relative;

  h1 {
    @include timetable($font-size: 22px, $width: 18px, $height: 28px);

    position: fixed;
    padding: 0 12px;
    margin: 0;
    height: 30px;
    width: 100%;
    z-index: 100;

    span {
      position: relative;
      top: 14px;

      &.delay {
        width: 80px;
      }
    }

    small {
      @include roboto;
      font-size: 12px;
      font-weight: 500;
      position: relative;
      top: 6px;
      flex-grow: 1;
    }
  }

  nav {
    width: 15px;
    height: 15px;
    background-color: whitesmoke;
    display: block;
  }

  h2 {
    @include timetable($width: 14px, $height: 20px, $font-size: 16px);

    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 12px;
    height: 30px;
    justify-content: flex-end;
  }


  &.scrolled {
    position: fixed;
    width: 100%;
    top: -110px;

    h2 {
      display: none;
    }

    h1 {
      position: absolute;
      top: 110px;
      height: 40px;

      > span {
        top: 0;
      }
    }


    h1 > small {
      top: -8px;
    }

    //gross
    & ~ main {
      margin-top: 150px;
    }
  }
}


