@mixin roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}
@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin timetable($width: 1px, $height: 1px, $font-size: 1px) {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgba(0,0,0,0.4);

  span {
    margin-right: 3px;
    display: inline-block;
    width: $width;
    height: $height;
    line-height: $height;
    font-size: $font-size;

    background-color: black;

    @include roboto-mono;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
}

@mixin display-1 { //delayfiction
  @include timetable($font-size: 22px, $width: 18px, $height: 28px);
}

@mixin display-2 { //timetable bars (issue etc.)
  @include timetable($width: 14px, $height: 20px, $font-size: 16px);
}

@mixin header-1 {
  @include roboto;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  margin: 6px 0;
}

@mixin header-2 {
  @include roboto;
  font-weight: 500;
  font-size: 16px;
  margin: 6px 0;
}

@mixin paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 14px 0;

  strong {
    font-weight: 500;
  }
}

@mixin tag {
  @include roboto;

  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  background-color: black;
  color: white;
  margin: 0;
  padding: 3px 6px;
  text-decoration: none;
}

