@import 'typography';

@import 'main_nav';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body > header {
  @include main-nav;

}



article {
  padding: 20px;
}

article header {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

article h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 6px 0;
}

article .author {
  font-size: 16px;
  margin: 0;
}

article .tag {
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  background-color: black;
  color: white;
  margin: 0;
  padding: 3px 6px;
}

article {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

article strong {
  font-weight: 500;
}

main { margin-bottom: 50px; }

nav.pagination {
  height: 30px;
  position: fixed;
  bottom: 20px;
  display: block;
  width: 100%;
  background-image: url(https://delayfiction.org/assets/2018-08.png);
  background-size: 100%;
  background-color: lavender;
  color: white;
}

nav.pagination div {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.pagination a {
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  background-color: black;
  color: white;
  margin: 0;
  padding: 3px 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  height: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
